@model SubCategory

@{
    ViewBag.Title = "Danh mục con";
}

@section naviheader {
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="~/adminPageAssets/index3.html" class="nav-link">Trang chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">@ViewBag.Title</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="#" class="nav-link">@(Model.CategoryId == 0 ? "Thêm mới" : "Cập nhật")</a>
        </li>
    </ul>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản lý danh mục</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
                    <li class="breadcrumb-item active">@((Model.CategoryId == 0 ? "Thêm mới" : "Cập nhật") + " " + ViewBag.Title)</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Thông tin @ViewBag.Title</h3>
        </div>
        <div class="card-body">
            <div class="bs-stepper linear">

                <div class="bs-stepper-content">
                    <form method="post" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true)
                        <input asp-for="SubCategoryId" hidden />
                        <input asp-for="SubCategoryImageUrl" hidden />
                        <!-- your steps content here -->
                        <div id="logins-part" class="content active dstepper-block" role="tabpanel" aria-labelledby="logins-part-trigger">
                            <div class="form-group">
                                <label asp-for="SubCategoryName"></label>
                                <input asp-for="SubCategoryName" class="form-control" placeholder="Tên danh mục">
                                <span asp-validation-for="SubCategoryName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="IsActive"></label>
                                <div>
                                    <div class="form-check-inline">
                                        <input type="radio" asp-for="IsActive" value="@true" class="form-check-input">
                                        <lable class="form-check-label ms-2">Kích hoạt</lable>
                                    </div>
                                    <div class="form-check-inline">
                                        <input type="radio" asp-for="IsActive" value="@false" class="form-check-input">
                                        <lable class="form-check-label ms-2">Không kích hoạt</lable>
                                    </div>
                                </div>
                                <span asp-validation-for="IsActive" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CategoryId"></label>
                            <select asp-for="CategoryId" asp-items="@ViewBag.CategoryOptions" class="form-select">
                                <option disabled selected>Open this select menu</option>
                            </select>
                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="SubCategoryImageUrl"></label>
                            <div class="input-group">
                                <label for="customFile" class="custom-file-label">
                                    @(Model.SubCategoryImageUrl == null ? "Chọn file" : Model.SubCategoryImageUrl.ToString())
                                </label>
                                <input type="file" id="customFile" name="file" class="custom-file-input">
                            </div>
                        </div>
                        <a asp-action="Index" class="btn btn-danger">Quay lại</a>
                        <button type="submit" class="btn btn-primary">@(Model.CategoryId == 0 ? "Thêm mới" : "Cập nhật")</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->
</section>
<!-- /.content -->