@model IPagedList<Product>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="select-all-cbox" />
            </th>
            <th class="text-center">STT</th>
            <th class="text-center">Ảnh đại diện</th>
            <th class="text-center">Tên sản phẩm</th>
            <th class="text-center">Mô tả ngắn</th>
            <th class="text-center">Mô tả dài</th>
            <th class="text-center">Mô tả thêm</th>
            <th class="text-center">Giá</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Đơn vị sản xuất</th>
            <th class="text-center">Mã danh mục</th>
            <th class="text-center">Mã danh mục con</th>
            @* <th class="text-center">Đã bán</th> *@
            <th class="text-center">Có thể custom</th>
            <th class="text-center">Kích hoạt</th>
            <th class="text-center">Ngày tạo</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr id="trow-@item.ProductId">
                    <td>
                        <input type="checkbox" class="select-input" value="@item.ProductId" />
                    </td>
                    <td class="text-center">@item.ProductId</td>
                    <td class="text-center">
                        @{
                            var defaultImage = item.ProductImages.FirstOrDefault(x => x.DefaultImage == true);
                        }
                        <img width="50" src="@(defaultImage != null ? defaultImage.ImageUrl : "/images/no-image.png")" />
                    </td>
                    <td class="text-center">@item.ProductName</td>
                    <td class="text-center">@item.ShortDescription</td>
                    <td class="text-center">@item.LongDescription</td>
                    <td class="text-center">@item.AdditionalDescription</td>
                    <td class="text-center">@item.Price</td>
                    <td class="text-center">@item.Quantity</td>
                    <td class="text-center">@item.CompanyName</td>
                    <td class="text-center">@item.CategoryId</td>
                    <td class="text-center">@item.SubCategoryId</td>
                    @* <td class="text-center">@item.Sold</td> *@
                    <td class="text-center">
                        <a data-id="@item.ProductId" class="my-active-btn">
                            @(item.IsCustomized? Html.Raw("<i class=\"bi bi-check-lg text-success\" style=\" -webkit-text-stroke: 1px; \"></i>") : Html.Raw("<i class=\"bi bi-x-lg text-danger\" style=\" -webkit-text-stroke: 1px; \"></i>"))
                        </a>
                    </td>
                    <td class="text-center">
                        <a data-id="@item.ProductId" class="my-active-btn">
                            @(item.IsActive? Html.Raw("<i class=\"bi bi-check-lg text-success\" style=\" -webkit-text-stroke: 1px; \"></i>") : Html.Raw("<i class=\"bi bi-x-lg text-danger\" style=\" -webkit-text-stroke: 1px; \"></i>"))
                        </a>
                    </td>
                    <td class="text-center">@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                    <td class="text-center">
                        <a asp-action="Upsert" asp-route-id="@item.ProductId" class="btn btn-primary">
                            <i class="bi bi-pencil-square"></i> Sửa
                        </a>
                        <a asp-action="Index" data-id="@item.ProductId" class="btn btn-danger my-btn-delete">
                            <i class="bi bi-trash"></i> Xóa
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Không có bản ghi nào</td>
            </tr>
        }
    </tbody>
</table>